.card-container {
width: 500px;
overflow: hidden;
position: absolute;
left: 1200px;
top: 200px;
box-shadow: 0px 0px 15px -5px;
transition: 0.3s;
animation: ease-in;
background-color: #51adcf;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container img{
overflow: hidden;
height: 335px;
}

.card-container{ 
    margin: 1rem;
    margin-top: 0.5rem;

}

h3,p{
    margin: 0;
    padding: 5px;
    font-size: 15px;
    font-family: 'Coolvetica';
}

.card-title{
    margin-bottom: 0.5rem;
}

.btn{

display: flex;
justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 3px;

}

.btn button:hover{
    background: rgba(27, 156, 252, 0.1);
    transform: scale(1.2);
}

a{
    text-transform: uppercase;
    color: #1B9CFC;
    text-decoration: none;
    font-weight: bold;
}